@inherits ComponentViewBase

@functions
{
	private RenderFragment CommentDisplay(string comment)
	{
		return __builder =>
		{
			@if (comment == null)
			{
				return;
			}

			@foreach (var commentPart in comment.Split('\n'))
			{
				<span class="comment">//@commentPart</span>
				<br />
			}
		};
	}

	public RenderFragment GetSchemaListDisplay(IList<SchemaInfoValue> schemaValues, int depth)
	{
		return __builder =>
		{
			<div>
				@for (int i = 0; i < schemaValues.Count; i++)
				{
					var item = schemaValues[i];
					<div style="margin-left: @(depth * 10)px">
						@if (!string.IsNullOrWhiteSpace(item.Comment))
						{
							<Translatable Key="@item.Comment" DisplayTemplate="CommentDisplay" />
						}
						@if (item.DefaultValue != null)
						{
							<span class="comment">
								// @@default: @item.DefaultValue
							</span>
							<br />
						}
						@if (item.Optional)
						{
							<span class="comment">
								// @@optional
							</span>
							<br />
						}
						<a>
							<span class="property">"@item.DisplayName"</span>:
						</a>
						<span>
							@{
								string prefix = item.IsListType ? "[" : "";
								string suffix = item.IsListType ? "]" : "";
							}
							@if (item.DisplayType == SchemaEditDisplayType.Value)
							{
								<span class="type">
									@if (item.AllowedValues?.Any() == true)
									{
										@item.AllowedValues.Select(f => f.Value.ToString()).Aggregate((e, f) => e + " | " + f)
									}
									else
									{
										@prefix @item.SchemaType.TypeName @suffix
										if (item.Optional)
										{
											<span> | null</span>
										}
									}
								</span>
							}
							else if (item.DisplayType == SchemaEditDisplayType.Object)
							{
								<span>@prefix{</span>
								<br />
								@GetSchemaListDisplay(item.Children, depth + 1)
								<span>}@suffix</span>
							}
							else if (item.DisplayType == SchemaEditDisplayType.ObjectReference)
							{
								@prefix
								<span class="reference btn-link" @onclick="async () => await ScrollIntoView(item.SchemaType.TypeName)">@item.SchemaType.TypeName</span>
								@suffix
							}
							@if (i + 1 < schemaValues.Count)
							{
								<span>,</span>
							}
						</span>
					</div>
					@if (!string.IsNullOrWhiteSpace(item.Comment))
					{
						<br />
					}
				}
			</div>

		};
	}
}

<div class="schemaDisplay @When(!EmbeddedDisplay, "pre")" style="position: relative">
	<span>{</span>
	<br />
	@GetSchemaListDisplay(SchemaItems, 1)
	<span>}</span>
</div>

@foreach (var item in ReferenceSchemas)
{
	<div class="schemaDisplay @When(!EmbeddedDisplay, "pre")" style="position: relative">
		<span id="schema_referece_@item.Key" class="referenceHeader">type</span> <span class="referenceName">@item.Key</span><span> {</span>
		@GetSchemaListDisplay(item.Value.Children, 1)
		<span>}</span>
	</div>
}